{
  "extends": ["airbnb-base", "plugin:jest/recommended", "prettier"],
  "plugins": ["jest", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint",
  "env": {
    "jest/globals": true
  }
}